func factorial(n) {
  if (n < 0) {
    return;
  }

  if (n == 0) {
    return 1;
  }

  let result = 1;
  let i = 2;

  while(i <= n) { 
    result = result * i;
    i = i + 1;
  }

  return result;
}


let i = 0;
let n = 10;

while(i <= n) {
  print(factorial(i))
  i = i + 1;
}
