func fibonacci(n) {
  if (n <= 1) {
    return n;
  }

  let fibPrev = 0;
  let fibCurrent = 1;
  let i = 2;
  let temp = 0;

  while (i <= n) {
    temp = fibCurrent;
    fibCurrent = fibPrev + fibCurrent;
    fibPrev = temp;
    i = i + 1;
  }

  return fibCurrent;
}


let i = 0;
let n = 40;

while (i <= n) {
  print(fibonacci(i))
  i = i + 1;
}
