struct Point2D {
    let x = 0;
    let y = 0;
}

func calculateDistance(point1, point2) {
    return sqrt(pow(point2.x - point1.x, 2) + pow(point2.y - point1.y, 2));
    
}


func addPoints(point1, point2) {
    return Point2D(point1.x + point2.x, point1.y + point2.y);
}

func scalePoint(point, scale) {
    return Point2D(point.x * scale, point.y * scale);
}
let pointA = Point2D(1, 2);


let pointB = Point2D(4, 5);

print(pointA)
print()
print(pointB)

let distance = calculateDistance(pointA, pointB);
let sum = addPoints(pointA, pointB);
let scaledPoint = scalePoint(pointA, 2.5);

    
print("Distance between points A and B: ", distance)
print()
    
print("Sum of points A and B")
print(sum)
print()


print("Scaled point A by 2.5")
print(scaledPoint)


